<!-- full page carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div id="center-content">
            <div id="logo-outer">
                <img src="/images/logo_small.png"/>
            </div>
            <div id="upper-text">
                <div align="center">
                    <a href="#nav_link"><i class="fas fa-angle-double-down"></i></a><h1 style="color:white"><br>LEARN MORE</h1>
                </div>
            </div>
        </div>

        <!-- Slide One -->
        <div class="carousel-item active" style="background-image: url('/images/splash1.jpg')">
        </div>
        <!-- Slide Two -->
        <div class="carousel-item" style="background-image: url('/images/splash2.jpg')">
        </div>
        <!-- Slide Three -->
        <div class="carousel-item" style="background-image: url('/images/splash3.jpg')">
        </div>
        <!-- Slide Four -->
        <div class="carousel-item" style="background-image: url('/images/splash4.jpg')">
        </div>
    </div>
</div>
<!-- end carousel -->

<!--  Navigation bar  -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav_link">
    <a class="navbar-brand" href="/">Integrity Land Care, LLC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/services">Services </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="projects">Projects </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">Contact Us </a>
            </li>
        </ul>
    </div>
</nav>
<!--  End Navigation bar  -->

<!-- main content -->
<div class="container-fluid">
    <div class="row my-5" style="background-color: white">
        <div class="col">
            <img src="/images/projects/4.jpg" class="img-fluid rounded mx-auto d-block w-75">
        </div>
        <div class="col my-auto">
            <h1 class="display-1  text-center">Lawn Care</h1>
            <p class="text-center">We are committed to providing the highest quality lawn care service that exceeds<br>your lawn care expectations. We can service residential and commercial properties and provide flexible<br>programs to meet your needs. Enjoy your summer and leave the dirty work to us!</p>
        </div>
    </div>
    <div class="row my-5" style="background-color: white">
        <div class="col my-auto">
            <h1 class="display-1 text-center">Landscaping</h1><br>
            <p class="text-center">Leave the heavy lifting yo us! Specializing in walkways in patios, we take care of<br>all your hardscaping and mulching projects. We take care of the equipment rental if necessary to ensure<br>jobs are completed in an efficient and timely manner.</p>
        </div>
        <div class="col my-auto">
            <img src="/images/projects/3.jpg" class="img-fluid rounded mx-auto d-block h-75">
        </div>
    </div>
    <div class="row my-5" style="background-color: white">
        <div class="col my-auto">
            <img src="/images/projects/11.jpg" class="img-fluid rounded mx-auto d-block h-75">
        </div>
        <div class="col my-auto">
            <h1 class="display-1 text-center">Fall and Spring Clean Up</h1><br>
            <p class="text-center">From one time to reoccurring scheduled clean ups, we take care of your lawn, flower beds, and landscaping to keep those pesky leaves and grass clipping clear of unwanted areas.</p>
        </div>
        <div class="col my-auto">
            <img src="/images/projects/10.jpg" class="img-fluid rounded mx-auto d-block h-75">
        </div>
    </div>
</div>