<!--  Navigation bar  -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Integrity Land Care, LLC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Services <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="projects">Projects </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">Contact Us </a>
            </li>
        </ul>
    </div>
</nav>
<!--  End Navigation bar  -->

<!--  Page title  -->
<div class="jumbotron jumbotron-fluid heading">
    <div class="container">
        <h1 class="font-weight-light text-center text-lg-center">Services</h1>
    </div>
</div>

<!--  main content  -->
<div class="container">
    <div class="row my-5">
        <div class="col my-auto">
            <h1 class="display-1  text-center">Lawn Care</h1>
            <ul class="text-center">
                <li>Mowing</li>
                <li>Fertilizing</li>
                <li>Weed Control</li>
                <li>Edging</li>
            </ul>
        </div>
    </div>
    <div class="row my-5">
        <div class="col my-auto">
            <h1 class="display-1  text-center">Landscaping</h1>
            <ul class="text-center">
                <li>Flower Bed Maintenance</li>
                <li>Spring & Fall Clean Up</li>
                <li>Stone Walkway and Patio Installation</li>
                <li>Stone Pressure Washing</li>
            </ul>
        </div>
    </div>
</div>